<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css"  href="/css/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/services">Our Services</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>
 
  <header>
    <h1>Welcome to My Boutique</h1>
</header>

<main>
    <section>
        <h2>New Arrivals</h2>
        <div class="product">
            <img src="https://www.istore.com.tn/4501-medium_default/macbook-pro-13-pouces-avec-puce-M2-8go-256go.jpg" alt="MacBook">
            <h3>MacBook Pro M2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button>Add to Cart</button>
        </div>
        <div class="product">
            <img src="https://mk-media.mytek.tn/media/catalog/product/cache/8be3f98b14227a82112b46963246dfe1/1/_/1_2272.jpg" alt="Galaxy S23 ">
            <h3>Smartphone SAMSUNG Galaxy S23 </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button>Add to Cart</button>
        </div>
        <div class="product">
            <img src="https://mk-media.mytek.tn/media/catalog/product/cache/8be3f98b14227a82112b46963246dfe1/0/1/010-02159-14_1698_1.jpg" alt="iphone 14">
            <h3>iphone 14 pro max</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button>Add to Cart</button>
        </div>
    </section>
    
    <section>
        <h2>Featured Products</h2>
        <div class="product">
            <img src="https://bestphones.tn/images/xe18-irocker-2bt-ear-headphone-white.jpg" alt="AirPod">
            <h3>AirPod Infinix XE18</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button>Add to Cart</button>
        </div>
        <div class="product">
            <img src="https://www.scoopgaming.com.tn/18408-large_default/souris-gaming-spirit-of-gamer-pro-m5-rgb.jpg" alt="Souris Gaming">
            <h3>Souris Gaming RGB Spirit</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button>Add to Cart</button>
        </div>
        <div class="product">
            <img src="https://skymil-informatique.com/22029-large_default/spirit-of-gamer-pro-k5.jpg" alt="Spirit Gamer">
            <h3>Spirit of Gamer Pro-K5</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button>Add to Cart</button>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2023 My Boutique. All rights reserved.</p>
</footer>
</body>
</html>